body {
  margin: 0;
  padding: 0; /* reset*/
  width: auto;
  height: auto;
  background-color: whitesmoke;
}

header#cabecalho {
  background-color: #dbc712;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial;
}

header#cabecalho h1 {
  color: darkblue;
  text-align: center;
  font-size: 18pt;
}

header#cabecalho p {
  color: red;
  font-size: 12pt;
}

#menu ul {
  width: 100%;
  float: left;
  text-align: center;
}

#menu li {
  padding: 10px;
}

#menu li a {
  font-size: 20pt;
  color: #fff;
  padding: 5% 9%;
}

#menu li a:hover {
  border: 1px solid #da6709;
}

ul#slide li {
  list-style: none;
  position: absolute;
}

ul#slide img {
  margin-top: -10px;
  margin-left: -75px;
  width: 315px;
  padding-right: 10px;
  padding-left: 10px;

  /* verificar responsividade das fotos */
}

ul#slide input {
  display: none;
}

ul#slide label {
  background-color: #0022ee;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10; /* garnte a visualização do label sobrepostas a imagem */
}

ul#slide li:nth-child(1) label {
  left: 10px;
} /* Ierarquia de labels */

ul#slide li:nth-child(2) label {
  left: 40px;
}

ul#slide li:nth-child(3) label {
  left: 70px;
}

ul#slide li:nth-child(4) label {
  left: 100px;
}

ul#slide img {
  opacity: 0;
  visibility: hidden;
}

ul#slide li input:checked ~ img {
  /* ~ parentescos entre seletores */
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

section#servicos {
  margin-top: 225px;
  margin-right: -10px;
  background-color: orangered;
}

section#servicos ul {
  text-align: center;
  list-style: none;
}

form#contatos {
  margin-top: 10px;
  margin-right: -10px;
  background-color: cornflowerblue;
}

form#contatos button {
  font-size: 16px;
  margin: 0 160px;
}

form#contatos input {
  font-size: 16px;
  margin: 0 80px;
}

footer#rodape {
  color: rgb(15, 4, 4);
  text-align: center;
  font-size: 20pt;
  margin-top: 10px;
  background-color: blueviolet;
  margin-right: -10px;
}

/* Media types deixando o site responsavel com 
   o metodo mobile first */

@media screen and (min-width: 560px) {
  header#cabecalho h1 {
    font-size: 36pt;
  }

  header#cabecalho p {
    font-size: 16pt;
    text-align: justify;
  }

  ul#slide img {
    width: 520px;
  }

  section#servicos {
    margin-top: 360px;
  }

  section#servicos ul {
    text-align: center;
    list-style: none;
    font-size: 22pt;
  }

  form#contatos button {
    font-size: 24px;
    margin: 0 190px;
  }

  form#contatos input {
    font-size: 24px;
    margin: 0 80px;
  }

  footer#rodape {
    font-size: 32pt;
  }
}

/* 2° Breakpoint */ 

@media screen and (min-width: 1020px) {
    header#cabecalho h1 {
      font-size: 81pt;
      color: black;
    }
  
    header#cabecalho p {
      font-size: 31pt;
      color: brown;
      text-align: justify;
    }
  
    ul#slide img {
      width: 1000px;
    }
  
    section#servicos {
      margin-top: 690px;
    }
  
    section#servicos ul {
      text-align: center;
      list-style: none;
      font-size: 40pt;
    }
  
    form#contatos button {
      font-size: 39px;
      margin: 0 400px;
    }
  
    form#contatos input {
      font-size: 39px;
      margin: 0 200px;
    }
  
    footer#rodape {
      font-size: 70pt;
      color: aliceblue;
    }
  }

  /* 3° Brakpoint */

  @media screen and (min-width: 1480px) {
    header#cabecalho h1 {
      font-size: 72pt;
    }
  
    header#cabecalho p {
      font-size: 27pt;
      text-align: justify;
    }
  
    ul#slide img {
      width: 1470px;
    }
  
    section#servicos {
      margin-top: 1000px;
    }
  
    section#servicos ul {
      text-align: center;
      list-style: none;
      font-size: 35pt;
    }
  
    form#contatos button {
      font-size: 32px;
      margin: 0 700px;
    }
  
    form#contatos input {
      font-size: 32px;
      margin: 0 510px;
    }
  
    footer#rodape {
      font-size: 40pt;
      color: aliceblue;
    }
  }
  
